{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid about-container text-dark-blue">
    <div class="container mb-5 pb-3 border-bottoms">
        <div class="row">
            <h1 class="my-4 text-center">Add Collaborative Project</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1 col-md-6 offset-md-3">
            <form method="POST" action="{% url 'add_collaborative' %}" class="form form-control form-bg" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="my-3">
                    {% for field in form %}
                        {{ field | as_crispy_field }}
                    {% endfor %}
                </div>
                <div class="text-center my-3">
                    <a href="{% url 'portfolio' %}" class="btn btn-danger">Cancel</a>
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row pb-5">
    <div class="col"></div>
</div>
{% endblock %}