{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="bg-home home-image">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto title-bg text-center rounded-2 pt-3 logo-font">
                <h1 class="display-3 text-black">
                    Micah Francis
                </h1>
                <h3 class="display-6 logo-font">Software Developer</h3>
                <div class="social-container">
                    <a href=""><span class="social-icons git mx-4"><i class="fa-brands fa-square-github"></i></span></a>
                    <a href=""><span class="social-icons link mx-4"><i class="fa-brands fa-linkedin"></i></span></a>
                </div>
                <div class="text-center pb-4">
                    <a href="" class="btn btn-dark-blue">Find Out More</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}