header {
    background: linear-gradient(to right, #000028 20%, rgba(255, 255, 255, 0) 70%);
}

body {
    font-family: 'martel-sans';
}

.name-link {
    width: fit-content;
    font-family: "Whisper", cursive;
    font-weight: 500;
    font-style: normal;
}

.title-link {
    width: fit-content;
    font-family: "Permanent Marker", cursive;
    font-weight: 100;
    font-style: normal;
}

.nav-area {
    font-family: "Permanent Marker", cursive;
    font-weight: 100;
    font-style: normal;
}

.text-dark-blue {
    color: #000028;
}

/*************Footer***************************/

footer {
    background-color: #000028;
}

.footer-content {
    list-style-type: none;
}
.social-icons {
    font-size: xx-large;
}

.sign-in {
    text-align: right;
    color: ;
}