html {
    height: 100%;
}

header {
    background: linear-gradient(to right, rgb(2, 55, 107) 20%, rgba(255, 255, 255) 70%);
    border-bottom: #2b5288 solid 1px;
}

body {
    font-family: 'martel-sans';
    background: url(/media/micah_hero2.jpg) no-repeat center center fixed;
    background-size: cover;
    opacity: 0.9;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: white;
    z-index: -1;
}

.btt-button {
    height: 42px;
    width: 42px;
    background-color: #000028;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

/****************************Header**********************************/

.header-container {
    padding-top: 98px;
}

.name-link {
    width: fit-content;
    font-family: "Noto Sans", sans-serif;
    color: #000028;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.title-link {
    width: fit-content;
    font-family: "Noto Sans", sans-serif;
    color: #000028;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.nav-area {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.nav-area:hover {
    color: #0000286b;
}

.text-dark-blue {
    color: #000028;
}

.bg-dark-blue {
    background-color: #000028;
}

.bg-nav {
    background: linear-gradient(to right, #6594d4 20%, rgba(255, 255, 255) 70%)
  }

.text-right {
    text-align: right;
}

.message-container {
    position: fixed;
    top: 112px;
    right: 7px;
    z-index: 99999;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.custom-toast {
    overflow: visible;
}

.alert-container {
    padding-right: 16px;
}
/*************about***************************/

  .profile-image {
    background-size: contain;
    width: 70%;
    height: 350px;
  }

  .about-content {
    font-size: 1.5rem;
    text-align: justify;
  }

  .timeline {
    border-left: 2px solid #013163;
    position: relative;
    padding: 1em 2em 0 2em;
  }

  .timeline:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 1.5em;
    position: absolute;
    left: -6.5px;
    border-radius: 12px;
    content: '';
    background: #9bf2ff;
    border: #000028 solid 2px;
  }

  .border-bottoms {
    border-bottom: solid 1px;
  }
  
  .tech-card {
    border: #000028 solid 1px;
    border-radius: 10px;
    background-color: #e6f1ff;
    font-size: 1.1rem;
    margin: 20px;
  }

  .add-btn {
    text-align: right;
  }

  .form-bg {
    background-color: #e6eefa;
  }

  .h1-btn:hover {
    color: #0000286b;
  }

/*************portfolio***************************/

.portfolio-pic {
    background-size: contain;
    width: 80%;
    height: 250px;
}


/*************Footer***************************/

footer {
    background-color: #000028;
    text-align: right;
}

.footer-content {
    list-style-type: none;
    padding-left: 0;
}

.in-out-icon {
    margin: 5px 10px 5px 0;
}

.sign-in a {
    color: #9bf2ff;
}

.reveal-icon {
    display: none;
}

/****************************Home**********************************/

.title-container {
    margin-top: 5%;
    padding-left: 25px;
}

.title-bg {
    background-color: rgba(255, 255, 255, 0.6);
    margin: 15rem 0 12rem 0;
}

.logo-font {
    font-family: "Noto Sans", sans-serif;
    color: #000028;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.btn-dark-blue {
    background: #000028;
    color: white;
}

.social-icons {
    font-size: 6rem;
}

.link {
    color: #0955a1;
}

.git {
    color: #010409;
}

.link:hover {
    color: #5fa4ea;
    cursor: pointer;
}

.git:hover {
    color: #0c2e68;
    cursor: pointer;
}

.allauth-container {
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 10rem;
    padding: 30px;
    border-radius: 5px;
}

/****************************Media Queries**********************************/

@media (min-width: 1200px) {
    .container {
      max-width: 90%;
    }

    .title-bg {
        margin: 0 0 0 0;
    }

    .allauth-container {
        margin-top: 1.2rem;
        padding: 5px 15px;
    }
}

@media (min-width: 992px) {
    .header-container {
        padding-top: 104px;
    }

    
    .con-foot {
        margin-top: 166px;
    }
}
