html {
    height: 100%;
}

header {
    background: linear-gradient(to right, #6594d4 20%, rgba(255, 255, 255) 70%);
}

body {
    font-family: 'martel-sans';
}

/****************************Header**********************************/

.name-link {
    width: fit-content;
    font-family: "Whisper", cursive;
    font-weight: 500;
    font-style: normal;
}

.title-link {
    width: fit-content;
    font-family: "Permanent Marker", cursive;
    font-weight: 100;
    font-style: normal;
}

.nav-area {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.text-dark-blue {
    color: #000028;
}

.bg-nav {
    background: linear-gradient(to right, #6594d4 20%, rgba(255, 255, 255) 70%)
  }

/*************Footer***************************/

footer {
    background-color: #000028;
}

.footer-content {
    list-style-type: none;
}
.social-icons {
    font-size: 5rem;
}

.social-container {
    margin-left: 24px;
}

.link {
    color: #004e9f;
}

.git {
    color: #00000b;
}

.sign-in {
    text-align: right;
}

.sign-in a {
    color: #9bf2ff;
}
/****************************Home**********************************/

.home-image {
    background: url(/media/micah_hero.jpg) no-repeat;
}

.bg-home {
    background-size: cover;
    height: 100vh;
    background-position-y: -150px;
}


.header-container {
    padding-top: 104px;
}

/****************************Media Queries**********************************/
@media (max-width: 1366px) {
    .bg-home {
        background-position-y: 0;
    }
}

@media (max-width: 992px) {
    .bg-home {
        background-position-x: -250px;
    }
}