<div class="collapse navbar-collapse" id="mobile-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">
            <a class="nav-link text-black mr-5" href="" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item d-block d-lg-none">
            <a class="nav-link mr-5" href="#">
                All Products 
            </a>
        </li>

        <li class="nav-item d-block d-lg-none">
            <a class="nav-link mr-5" href="">
                Supplements
            </a>
        </li>

        <li class="nav-item d-block d-lg-none">
            <a class="nav-link mr-5" href="#">
                Clothing
            </a>
        </li>

        <li class="nav-item d-block d-lg-none">
            <a class="nav-link mr-5" href="">
                Equipment 
            </a>            
        </li>
    </ul>
</div>