{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid about-container text-dark-blue">
        <div class="container border-bottoms">
            <div class="row">
                <div class="col-12">
                    <h1 class="my-5">About Me</h1>
                </div>
            </div>
        </div>
        <div class="accordion" id="about-sections">
            <div class="container my-5 pb-5 border-bottoms">
                <div class="row">
                    <h2 class="mb-5 text-center">Executive Summary</h2>
                    {% for a in about %}
                        <div class="col-12 col-lg-7 col-md-6 my-auto">
                            <p class="about-content">{{ a.content }}</p>
                        </div>
                        <div class="col-12 col-lg-5 col-md-6">
                        {% if a.image %}
                            <div>
                                <img class="img-fluid img-thumbnail mx-auto" src="{{ a.image.url }}" alt="{{ a.description}}">
                            </div>
                        {% else %}
                            <div>
                                <img class="img-fluid img-thumbnail mx-auto" src="{{ MEDIA.URL }}" alt="{{ a.description}}">
                            </div>
                        {% endif %}
                        </div>
                        <div class="row my-3">
                            <div class="col-12 text-center">
                                {% if request.user.is_authenticated %}
                                    <a href="{% url 'edit_about' a.id %}" class="btn-sm btn-success text-decoration-none">Edit</a>
                                    <a href="{% url 'delete_about' a.id %}" class="btn-sm btn-danger text-decoration-none">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if about %}
                {% else %}
                <div class="row">
                    <div class="col-12 add-btn mb-2">
                        <a href="{% url 'add_about' %}" class="btn-sm btn-primary text-decoration-none mb-5">Add <i class="fa-solid fa-plus"></i></a>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="container mb-5 border-bottoms">
                <div class="text-center">
                    <button class="mb-5 text-dark-blue text-center h1-btn" type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Education
                    </button>
                </div>
                <div id="collapseOne" class="row collapse show mb-4" data-parent="#about-sections">
                    {% for e in education %}
                    <div class="col-12 col-lg-2 mx-auto mb-2">
                        <h5>{{ e.from_date|date:"M y" }} - 
                            {% if e.to_date %}
                                {{ e.to_date|date:"M y" }}
                            {% else %}
                                To date
                            {% endif %}
                        </h5>
                    </div>
                    <div class="col-12 col-lg-4 mx-auto mb-2">
                        <h5>{{ e.institution }}</h5>
                    </div>
                    <div class="col-12 col-lg-4 mx-auto mb-2">
                        <h5>{{ e.qualification}}</h5>
                    </div>
                    <div class="col-12 col-lg-2 mx-auto mb-2">
                        <h5>{{ e.location }}</h5>
                    </div>
                    <div class="row my-3">
                        <div class="col-12 text-center">
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'edit_education' e.id %}" class="btn-sm btn-success text-decoration-none">Edit</a>
                                <a href="{% url 'delete_education' e.id %}" class="btn-sm btn-danger text-decoration-none">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-12 add-btn mb-2">
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'add_education' %}" class="btn-sm btn-primary text-decoration-none mb-5">Add <i class="fa-solid fa-plus"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="container mb-5 border-bottoms">
                <div class="text-center">
                    <button class="mb-5 text-dark-blue text-center h1-btn collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        Technical Skills
                    </button>
                </div>
                <div id="collapseTwo" class="row collapse mb-4" data-parent="#about-sections">
                    <div class="col-12 col-lg-2 mx-auto col-md-5 tech-card">
                        <h5 class="text-center pt-3"><strong>Technologies</strong></h5>
                        <div class="container text-center py-4">
                            <ul class="list-unstyled">
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>JavaScript</li>
                                <li>Python</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-lg-2 mx-auto col-md-5 tech-card">
                        <h5 class="text-center pt-3"><strong>Databases</strong></h5>
                        <div class="container text-center py-4">
                            <ul class="list-unstyled">
                                <li>MongoDB</li>
                                <li>MySQL</li>
                                <li>ElephantSQL</li>
                                <li>PostgreSQL</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-lg-2 mx-auto col-md-5 tech-card">
                        <h5 class="text-center pt-3"><strong>Frameworks</strong></h5>
                        <div class="container text-center py-4">
                            <ul class="list-unstyled">
                                <li>Django</li>
                                <li>Flask</li>
                                <li>jQuery</li>
                                <li>Bootstrap</li>
                                <li>MaterializeCSS</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-lg-2 mx-auto col-md-5 tech-card">
                        <h5 class="text-center pt-3"><strong>Version Control</strong></h5>
                        <div class="container text-center py-4">
                            <ul class="list-unstyled">
                                <li>GitHub</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mb-5 border-bottoms">
                <div class="text-center">
                    <button class="mb-5 text-dark-blue h1-btn collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        Work Experience
                    </button>
                </div>
                <div id="collapseThree" class="row collapse mb-5" data-parent="#about-sections">
                    {% for work in work_experience %}
                    <div class="col-12 timeline py-3 my-auto">
                        <h4>{{ work.from_date|date:"M y" }} - 
                            {% if work.to_date %}
                                {{ work.to_date|date:"M y" }}
                            {% else %}
                                To date
                            {% endif %}
                        </h4>
                        <div class="row py-3">
                            <div class="col-4">
                                <h5><strong>{{ work.job_title }}</strong></h5>
                            </div>
                            <div class="col-4">
                                <h5><strong>{{ work.company }}</strong></h5>
                            </div>
                            <div class="col-4">
                                <h5><strong>{{ work.location }}</strong></h5>
                            </div>
                        </div>
                        <ul class="unstyled-list">
                            <li>{{ work.achievement1 }}</li>
                            {% if work.achievement2 %}
                                <li>{{ work.achievement2 }}</li>
                            {% endif %}
                            {% if work.achievement3 %}
                                <li>{{ work.achievement3 }}</li>
                            {% endif %}
                            {% if work.achievement4 %}
                                <li>{{ work.achievement4 }}</li>
                            {% endif %}{% if work.achievement5 %}
                                <li>{{ work.achievement5 }}</li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                                {% if request.user.is_authenticated %}
                                <a href="{% url 'edit_work' work.id %}"  class="btn-sm btn-success text-decoration-none">Edit</a>
                                <a href="{% url 'delete_work' work.id %}" class="btn-sm btn-danger text-decoration-none">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-12 add-btn mb-2">
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'add_work' %}" class="btn-sm btn-primary text-decoration-none mb-5">Add <i class="fa-solid fa-plus"></i></a>
                        {% endif %}
                        </div>
                </div>
            </div>
            <div class="container mb-5">
                <div class="text-center">
                    <button class="mb-5 text-dark-blue h1-btn collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        Interests
                    </button>
                </div>
                <div id="collapseFour" class="row collapse mb-5" data-parent="#about-sections">
                    {% for interest in interests %}
                    <div class="col-12 my-auto about-content">
                        <ul>
                            <li>{{ interest.interest }}</li>
                        </ul>
                        <div class="row my-3">
                            <div class="col-12 text-center">
                                {% if request.user.is_authenticated %}
                                    <a href="{% url 'edit_interest' interest.id %}" class="btn-sm btn-success text-decoration-none">Edit</a>
                                    <a href="{% url 'delete_interest' interest.id %}" class="btn-sm btn-danger text-decoration-none">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-12 add-btn mb-2">
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'add_interest' %}" class="btn-sm btn-primary text-decoration-none mb-5">Add <i class="fa-solid fa-plus"></i></a>
                        {% endif %}
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-12 mb-2">
                        <a href="{% url 'home' %}" class="btn btn-primary bg-dark-blue border-dark-blue text-decoration-none mb-5"><i
                                class="fa-solid fa-angles-left"></i> Home</a>
                        <a href="{% url 'portfolio' %}" class="btn btn-primary text-decoration-none mb-5">Portfolio <i
                                class="fa-solid fa-angles-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark-blue text-white py-5">
        <div class="row text-center">
            <div class="col mb-5">
                <small class="text-uppercase">References available on request</small>
            </div>
        </div>
        <div class="row py-5 text-center">
            <div class="col-12 col-lg-4 mb-4">
                <h5><strong><i class="fa-solid fa-location-dot mx-1"></i> Location</strong></h5>
                <p>Aylesbury, Buckinghamshire</p>
            </div>
            <div class="col-12 col-lg-4 mb-4">
                <h5><strong><i class="fa-solid fa-mobile-screen mx-1"></i> Mobile</strong></h5>
                <p>07958 774 171</p>
            </div>
            <div class="col-12 col-lg-4 mb-4">
                <h5><strong><i class="fa-solid fa-envelope mx-1"></i> Email</strong></h5>
                <p>mfrancisr@hotmail.com</p>
            </div>
        </div>
    </div>
    <div class="btt-button shadow-sm rounded border border-white">
        <a class="btt-link d-flex h-100 text-decoration-none">
            <i class="fas fa-arrow-up text-white mx-auto my-auto"></i>
        </a>	
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script type="text/javascript">
        $(".btt-link").click(function() {
            window.scrollTo(0,0);
        });
    </script>
{% endblock %}